/*
 * Custom CSS
 */

body {
	font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	max-width: 970px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	margin-top: 70px;
}

.navbar-default {
	background-color: #ffffff;
	border: 0;
}

.navbar-nav {
	float: right;
	margin-top: 15px;
}

.navbar-default .navbar-nav > li > a {
	color: #1d1d1b;
	opacity: 0.7;
	padding: 0;
}

.navbar-default .navbar-nav li {
	margin-right: 20px;
}

.navbar-default .navbar-nav li:last-child {
	margin-right: 0;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #cd5d5c;
	text-decoration: underline;
}

.blog-footer2 {
	background-color: #cd5d5c;
	color: #ffffff;
}

.footer-container {
	height: 120px;
	display: flex;
	align-items: center;
	max-width: 970px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.footer-second-description {
	margin: 0;
	opacity: 0.5;
	font-size: 13px;
}

.footer-credits {
	width: 100%; 
}

.footer-menu {
	width: 100%;
}

.footer-menu ul {
	margin: 0 0 0 20px;
	padding: 0;
	float: right;
	opacity: 0.9;
}

.footer-menu ul li {
	display: inline-block;
	margin-right: 20px;
}

.footer-menu ul li:last-child {
	margin-right: 0;
}

.footer-menu a {
	color: #ffffff;
}

.category-menu {
	max-width: 970px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
}

.category-list {
	display: flex;
	justify-content: center;
}

.category-list a {
	color: #1d1d1b;
}

.category-list a:hover {
	color: #cd5d5c;
	text-decoration: underline;
}

.category-list li {
	display: inline-block;
	margin-right: 20px;
}

.category-border {
	width: 100px;
	margin-top: 14px;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 2px;
	border-bottom-color: #cd5d5c;
	border-bottom-style: solid;
}
