/*
 * Custom CSS
 */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700&subset=latin-ext);

body {
	font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Open Sans', sans-serif;
}

.navbar {
	max-width: 970px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	margin-top: 70px;
}

.navbar-default {
	background-color: #ffffff;
	border: 0;
}

.navbar-nav {
	float: right;
	margin-top: 15px;
}

.navbar-default .navbar-nav > li > a {
	color: #1d1d1b;
	opacity: 0.7;
	padding: 0;
}

.navbar-default .navbar-nav li {
	margin-right: 20px;
}

.navbar-default .navbar-nav li:last-child {
	margin-right: 0;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #cd5d5c;
	text-decoration: underline;
}

.navbar-collapse {
	padding-right: 0px;
	padding-left: 0px;
}

.blog-footer2 {
	background-color: #cd5d5c;
	color: #ffffff;
}

.footer-container {
	height: 120px;
	display: flex;
	align-items: center;
	max-width: 970px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.footer-second-description {
	margin: 0;
	opacity: 0.5;
	font-size: 13px;
}

.footer-credits {
	width: 100%; 
}

.footer-menu {
	width: 100%;
}

.footer-menu ul {
	margin: 0 0 0 20px;
	padding: 0;
	float: right;
	opacity: 0.9;
}

.footer-menu ul li {
	display: inline-block;
	margin-right: 20px;
}

.footer-menu ul li:last-child {
	margin-right: 0;
}

.footer-menu a {
	color: #ffffff;
}

.category-menu {
	max-width: 970px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
}

.category-list {
	display: flex;
	justify-content: center;
	padding: 0px;
}

.category-list a {
	color: #1d1d1b;
}

.category-list a:hover {
	color: #cd5d5c;
	text-decoration: none;
}

.category-list li {
	display: inline-block;
	margin-right: 20px;
}

.category-menu ul li:last-child {
	margin-right: 0px;
}

.category-border {
	width: 110px;
	margin-top: 14px;
	margin-right: auto;
	margin-left: auto;
	border-bottom: 1px;
	border-bottom-color: #cd5d5c;
	border-bottom-style: solid;
}

.social-icons {
	float: right;
    position: relative;
	font-size: 20px;
	top: -34px;
}

.social-icons a {
	color: #000000;
	opacity: 0.7;
	margin-right: 20px;
}

.social-icons a:hover {
	color: #cd5d5c;
	opacity: 1.0;
}

.social-icons a:last-child {
	margin-right: 0px;
}

.profile-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 20px;
}

.sidebar-module-inset {
	margin-right: 0px;
	background-color: #f9f9f9;
}

.profile-description {
	text-align: center;
	color: #000000;
}

.social-icons.sidebar {
	float: none;
    position: inherit;
	font-size: 20px;
	display: flex;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	justify-content: center;
}

.instagram-sidebar {
	margin-top: 40px;
}

.category-border.sidebar {
	width: 50px;
	margin-top: -4px;
}

.instagram-photo-row-last {
	margin-top: 20px;
	margin-bottom: 40px;
}

.instagram-photo-row-first {
	margin-top: 35px;
}

.instagram-photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.photo-left {
	padding-right: 0px;
}

.photo-right {
	padding-left: 0px;
}

.header-container {
	position: relative;
}

.logo2 {
	position: absolute;
	z-index: 1000;
	top: -150px;
	left: -130px;
}

.header-photo {
	width: 78%;
	height: 350px;
	background-image: url(../images/header-post.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;
	position: relative;
	z-index: 1001;
	box-shadow: 0px 0px 30px -10px #0b0d0d;
}

.header-photo.two {
	background-image: url(../images/post1.jpg);
}

.header-photo.three {
	background-image: url(../images/post2.jpg);
}

	
.header-title {
	position: absolute;
	z-index: 1002;
	top: 150px;
	left: 530px;
}

.lead.blog-description {
	color: #000000;
	font-weight: 700;
	margin: 0px;
}

.blog-title {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	color: #cd5d5c;
	font-size: 26px;
	width: 400px;
	text-transform: uppercase;
	line-height: 1.8;
	margin-top: 0px;
}

.blog-title-border {
	width: 134px;
	margin-top: 14px;
	border-bottom: 5px;
	border-bottom-color: #cd5d5c;
	border-bottom-style: solid;
}

.blog-header {
	margin-bottom: 70px;
}

.blog-post {
	text-align: justify;
}

.blog-post-meta {
	color: #cd5d5c;
	font-weight: 700;
	font-size: 14px;
}

.blog-post-meta a {
	color: #cd5d5c;
	text-transform: uppercase;
	border-right-color: #cd5d5c;
	border-right: 1px;
	border-right-style: solid;
	padding-right: 15px;
	margin-right: 15px;
}

.blog-post-title {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.blog-post-title:hover {
	color: #cd5d5c;
	text-decoration: underline;
}

.pager {
	text-align: center;
	color: #cd5d5c;
}

.pager > li > a {
	color: #cd5d5c;
	padding: 5px 0px;
	border-radius: 5px;
}

.pager > li > a:hover {
	background-color: #f9f9f9;
}

.blockquote-featured {
	margin-top: 100px;
	margin-bottom: 100px;
	border: 0px;
	display: flex;
	align-items: center;
	margin-left: 70px;
}

.reference-blockquote {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 4px;
}

.blockquote-paragraph {
	display: inline-block;
	color: #cd5d5c;
	font-family: 'Merriweather', serif;
	font-size: 22px;
	margin-bottom: 5px;
	text-align: justify;
}

.reference-border {
	width: 40px;
	border-bottom: 3px;
	border-bottom-color: #cd5d5c;
	border-bottom-style: solid;
}

.blockquote-link a {
	color: #000000;
	font-size: 14px;
}

.blockquote-link a:hover {
	color: #cd5d5c;
}

.blockquote-container {
	margin-left: 50px;
}

.subpages-article {
	margin-bottom: 100px;
	margin-top: 30px;
}

.subpages-title {
	color: #cd5d5c;
	text-align: center;
	font-family: 'Merriweather', serif;
	margin-bottom: 60px;
}

.profile-description.subpage {
	font-size: 16px;
	line-height: 2.5;
}

.profile-description.subpage a {
	color: #cd5d5c;
}

.contact-form {
	text-align: center;
	margin-top: 20px;
}

.form-input-title {
	margin-top: 10px;
}

.form-input {
	width: 60%;
}

.form-input:focus {
	outline-color: #cd5d5c;
}

.form-button {
	margin-top: 20px;
	width: 150px;
	height: 35px;
	background-color: #cd5d5c;
	color: #ffffff;
	font-size: 16px;
	border-color: #cd5d5c;
	border-radius: 4px;
	border-width: 0px;
}

.form-button:focus {
	outline-color: #ffffff;
}

.active-link a {
	color: #cd5d5c !important;
}

.container.categories {
	margin-top: 70px;
}

.post-photo {
	width: 100%;
	position: relative;
	z-index: 1003;
}

.blog-header.post {
	padding-top: 0px;
	margin-bottom: 0px;
}

.in-post {
	margin: 40px 0 40px 0;
}

.in-post2 {
	margin-top: 60px;
	margin-bottom: 60px;
}

.container.categories.post {
	margin-bottom: 100px;
}

.advertisement-photo {
	width: calc(100% + 15px);
	position: relative;
	right: 15px;
	margin-bottom: 25px;
}

.blog-post.all {
	font-size: 16px;
}

.blog-post-title.read-also {
	font-size: 15px;
	margin-top: 0px;
}

.col-sm-4.first {
	padding: 0px;
}

.col-sm-4.last {
	padding: 0px;
}

.blog-post-meta.more-posts-title {
	font-size: 12px;
}

.more-posts {
	margin-bottom: 100px;
	margin-top: 30px;
}

#disqus_thread {
	margin-top: 200px;
}

.first-hide {
	display: none;
}
