/*
 * Custom CSS
 */

body {
	font-family: 'Open Sans', sans-serif;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: 'Open Sans', sans-serif;
}

.blog-footer2 {
	background-color: #cd5d5c;
	color: #ffffff;
}

.footer-container {
	height: 120px;
	display: flex;
	align-items: center;
	max-width: 970px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.footer-second-description {
	margin: 0;
	opacity: 0.5;
	font-size: 13px;
}

.footer-credits {
	width: 100%; 
}

.footer-menu {
	width: 100%;
}

.footer-menu ul {
	margin: 0 0 0 20px;
	padding: 0;
	float: right;
	opacity: 0.9;
}

.footer-menu ul li {
	display: inline-block;
	margin-right: 20px;
}

.footer-menu ul li:last-child {
	margin-right: 0;
}

.footer-menu a {
	color: #ffffff;
}
